.catalog {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.list-container {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.list-container::-webkit-scrollbar {
  width: 1vw;
  height: 70vh;
  background-color: var(--primary-background-color);
}
.list-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--home-button-color);
}
.cocktail-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  height: 100%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
